.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-block: 50px;
  flex-wrap: wrap;
}

.paginationButton {
  color: var(--text-color);
  background-color: #E0F8FF;

  font-family: inherit;
  font-weight: 500;
  border-radius: 8px;
  padding: 14px 16px;

  &:disabled {
    background-color: #b3c3f5;
  }
}

.sideButton {
  color: var(--text-color);
  font-family: inherit;
  font-weight: 500;
}