.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-block: 50px;
  flex-wrap: wrap;

  span {
    color: var(--text-color);
  }
}

.paginationButton {
  color: var(--text-color);
  background-color: var(--color-gray-blue);

  font-family: inherit;
  font-weight: 500;
  border-radius: 8px;
  padding: 14px 16px;

  &:disabled {
    background-color: var(--color-steel-blue);
  }
}

.sideButton {
  color: var(--text-color);
  font-family: inherit;
  font-weight: 500;
}